.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  /* text-align: center; */
}

.select-child-div {
  margin-bottom: 10px;

}

.select input {
  width: 100px;
}

.list-wrapper {
  border: 1px solid gray;
  width: 500px;
}

.stand-list-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}