.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  /* text-align: center; */
}



.select {
  display: flex;
  height: 80px;
  margin: 5px 5px 5px 5px;
  border: 1px solid grey;
}

.sureButton {
  display: flex;
  height: 80px;
  align-items: center;
  margin-right: 5px;
}

.select-child-div {
  margin: 5px 5px 5px 5px;

}

.select input {
  width: 100px;
}

.selectKey {
  display: flex;
  align-items: center;
  padding-left: 5px;
  margin: 5px 5px 5px 5px;
  border: 1px solid grey;
}

.selectKey input {
  width: 100px;
  margin: 5px 5px 5px 0px;
}

.selectKey button {
  margin-right: 5px;
}

.list-wrapper {
  border: 1px solid gray;
  width: 500px;
}

.stand-list-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}