.App {
  font-family: sans-serif;
  text-align: center;
  width: 300px;
}

.list-wrapper {
  border: 1px solid red;
}

.stand-list-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}


